.home_whole {
    background-color: #fffde8;
    height: 600px;
    width: 900px;
    border-radius: 3px;
    border: 0.2px solid black;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 5%;
    margin-bottom: 5%;
}